doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(
      name='description',
      content='Design, develop, and share your website and web app with the world! Stand out from the crowd and capture the attention of your ideal customers with our captivating designs, that showcase the essence of your business and lead them seamlessly to sign up!'
    )
    meta(
      name='keywords',
      content='web design, web development, website, web app, web application, startercode, coding'
    )
    meta(
      property='og:title',
      content='Startercode: Website & Web App Design and Development'
    )
    meta(
      property='og:description',
      content='Design, develop, and share your website and web app with the world! Stand out from the crowd and capture the attention of your ideal customers with our captivating designs, that showcase the essence of your business and lead them seamlessly to sign up!'
    )
    meta(property='og:type', content='website')
    meta(property='og:image', content='/imgs/logo-new.png')
    link(rel='shortcut icon', href='/imgs/favicon.ico', type='image/ico')
    link(rel='stylesheet', href='/scss/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(
      href='https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600&display=swap',
      rel='stylesheet'
    )
    link(
      href='https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap',
      rel='stylesheet'
    )
    link(
      rel='stylesheet',
      href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css'
    )
    script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
    script(src='https://unpkg.com/phosphor-icons')
    script(
      defer,
      src='https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js'
    )
    title #{ title }

  body
    block body

    script(src='/js/bundle/index.js')
