extends base

block body
  main.login-main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Password
      form.form.form--login
        .signup-form__group.ma-bt-md
          label.signup-form__label(for='password') Password
          input#password.signup-form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='2'
          )
        .signup-form__group.ma-bt-md
          label.signup-form__label(for='password-confirm') Password Confirm
          input#password-confirm.signup-form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='2'
          )
        .login-form__group.flex.space-between
          button.btn-auth.btn-auth-reset_password RESET PASSWORD
